# Node modules
node_modules

#vscode settings for databases
.vscode/
# Adonis directory for storing tmp files
tmp

# Environment variables, never commit this file
.env

# The development sqlite file
database/*.sqlite
+